In [ ]:
#Q1. Create one variable containing following type of data:

In [8]:
#(i) string
name = "Python"

In [ ]:
# (ii) list
subjects = ["JAVA", "Maths", "Python"]

In [ ]:
# (iii) float
pi_value = 3.18

In [ ]:
# (iv) tuple
coordinates = (10, 20)

In [24]:
#Q2.Given are some following variables containing data:
var1 = ' '
var2 = ['DS, ML, Python']
var3 = ['DS', 'ML', 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

"""ANSWER:-
var1= string
var2= list
var3= list 
var4= integer"""

<class 'str'>
<class 'list'>
<class 'list'>
<class 'int'>

'ANSWER:-\nvar1= string\nvar2= list\nvar3= list \nvar4= integer'

In [13]:
#Q3. Explain the use of the following operators using an example:
#(i) / - division
print(50 / 10)

5.0

In [15]:
#(ii) % - remainder
print(50 % 10)

0

In [19]:
#(iii) // - floor division
print(50 // 3)

16

In [20]:
#(iv) ** - Power
print(50 ** 3)

125000

In [25]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""
my_list = [{1:2},"pwskills",10,True,False,10.33,10+9j,None,[1,2],(3,4)]
for item in my_list:
    print(item, type(item))


"""ANSWER:-
{1: 2} <class 'dict'>
pwskills <class 'str'>
10 <class 'int'>
True <class 'bool'>
False <class 'bool'>
10.33 <class 'float'>
(10+9j) <class 'complex'>
None <class 'NoneType'>
[1, 2] <class 'list'>
(3, 4) <class 'tuple'>"""

{1: 2} <class 'dict'>
pwskills <class 'str'>
10 <class 'int'>
True <class 'bool'>
False <class 'bool'>
10.33 <class 'float'>
(10+9j) <class 'complex'>
None <class 'NoneType'>
[1, 2] <class 'list'>
(3, 4) <class 'tuple'>

"ANSWER:-\n{1: 2} <class 'dict'>\npwskills <class 'str'>\n10 <class 'int'>\nTrue <class 'bool'>\nFalse <class 'bool'>\n10.33 <class 'float'>\n(10+9j) <class 'complex'>\nNone <class 'NoneType'>\n[1, 2] <class 'list'>\n(3, 4) <class 'tuple'>"

In [2]:
"""Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""
A = 72
B = 2
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("Divisible", count, "times")

Divisible 3 times

In [3]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

numbers = list(range(0, 25))

for num in numbers:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [6]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""
#Mutable Data Types
#Can be changed after creation
#Example: list,dict
my_list = [1, 2, 3]
my_list[0] = 0
print(my_list)

[0, 2, 3]

In [5]:
#Immutable Data Types
#Cannot be changed after creation
#Example: tuple ,float,int,string
my_tuple = (1, 2, 3)
my_tuple[0] = 100  # This will give an error

TypeError: 'tuple' object does not support item assignment